{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% block meta_description %} {% endblock %}">
  <meta name="author" content="TemplateMo">
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet">

  <title>{% block title %}Stand CSS Blog by TemplateMo {% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'blog/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/templatemo-stand-blog.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/owl.css'%}">

  <!--

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

-->
</head>

<body>




  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0"></script>

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <h2>Freedemy<em>.</em></h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto" id="navigation">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:home' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:all_blogs' %}">Recent Posts</a>
            </li>

            <li class="nav-item">
              <div class="dropdown show">
                <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Categories</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <ul>
                    {% for category in categories %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'blog:category' category.id %}">
                        {{ category.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </li>
            

            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:contact' %}">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  {% block content %}

  {% endblock %}

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/Biobam-Mobile-Graphics-108525513986541/">Facebook</a></li>
            <li><a href="https://www.instagram.com/emmanuelogram/?hl=en">Instagram</a></li>
            <li><a href="https://github.com/biobam-creative">Github</a></li>

          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2020 Biobam.

              | Design: <a rel="nofollow" href="https://templatemo.com" target="_parent">TemplateMo</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'blog/js/jquery.min.js' %}"></script>
  <script src="{% static 'blog/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Additional Scripts -->
  <script src="{% static 'blog/js/custom.js' %}"></script>
  <script src="{% static 'blog/js/owl.js' %}"></script>
  <script src="{% static 'blog/js/slick.js' %}"></script>
  <script src="{% static 'blog/js/isotope.js' %}"></script>
  <script src="{% static 'blog/js/accordions.js'%}"></script>

  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
      if (!cleared[t.id]) {                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value = '';         // with more chance of typos
        t.style.color = '#fff';
      }
    }
  </script>

</body>

</html>